<div id="container">
  <div id="header">
      <div class="avatarSection">
          <div class="picture">
            <img src="../../assets/images/avatar.svg"/>
          </div>
          <div class="nameSection">{{conversation.name}}</div>
      </div>
      <div class="actionButtons">
        <img src="../../assets/images/attachmentIcon.svg"/>
        <img src="../../assets/images/vertIcon.svg"/>
      </div>
  </div>
  <div id="body">
      <div class="message" [ngClass]="{me:message.me}" *ngFor="let message of conversation.messages">
          <div class="messageContent">
              {{message.body}}
              <div class="time">{{message.time}}</div>
            </div>
        </div>
  </div>
  <div id="footer">
      <div id="smileyIcon">
          <img (click)="emojiVisible=!emojiVisible" src="../../assets/images/smiley.svg"/>
          <emoji-mart *ngIf="emojiVisible"
          [darkMode]="false" title="Pick your emoji…" emoji="point_up" (emojiClick)="addEmoji($event)"></emoji-mart>
      </div>
      <div id="textArea">
          <textarea [(ngModel)]="message" (keyup.enter)="submitMessage($event)"></textarea>
      </div>
      <div id="micIcon">
        <img src="../../assets/images/micIcon.svg"/>
      </div>
  </div>
</div>