<div id="sidebar">
    <div id="row">
        <div id="sidebarHeader">
            <div class="avatarContainer">
                <img src="../../assets/images/avatar.png"/>
            </div>
            <div class="actionsContainer">
                <img src="../../assets/images/statusIcon.png"/>
                <img src="../../assets/images/chatIcon.svg"/>
               <img src="../../assets/images/vertIcon.svg"/>
            </div>
        </div>
         <div id="searchBox">
           <img width="15" src="../assets/images/searchIcon.png"/>
           <input [(ngModel)]="searchText" type="text" placeholder="Search or start new chat">
         </div>
    </div>
   

    <div id="sidebarContent">
      <div *ngIf="!conversations" id="noConversations">All chats are archived</div>
      <div class="conversation" *ngFor="let conv of !searchText ? conversations:filteredConversations"
        (click)="conversationClicked.emit(conv)">
          <div class="picture">
            <img src="../../assets/images/avatar.svg"/>
          </div>
          <div class="content">
              <div class="conversationHeader">
                  <div class="name">{{conv.name}}</div>
                  <div class="time">{{conv.time}}</div>
              </div>
              <div class="message">
                <img *ngIf="!conv.latestMessageRead" width="15" src="../../assets/images/double-tick.svg"/>
                <img *ngIf="conv.latestMessageRead" width="15" src="../../assets/images/double-tickBlue.svg"/>
                  {{conv.latestMessage}}
                </div>
          </div>
      </div>
    </div>
  </div>